/vendor/
/node_modules/
.env
.env.backup
/storage/framework/views/*.php
/storage/logs/*.log
/storage/app/pdfs/
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
.phpunit.result.cache
/database/*.sqlite
